# S&P100
(ku 22. marcu 2021)

In [1]:
import pandas as pd
import datetime
import numpy as np
%run functions.py

In [2]:
num_days = 252

In [3]:
data_file = 's&p100.xlsx'
sap100 = pd.read_excel(data_file)
sap100.head()

  Symbol                Name                   Sector
0   AAPL                Apple  Information Technology
1   ABBV               AbbVie             Health Care
2    ABT  Abbott Laboratories             Health Care
3    ACN            Accenture  Information Technology
4   ADBE                Adobe  Information Technology

In [4]:
# CODE FOR DOWNLOADING DATA FOR STOCKS
# start = datetime.datetime(2021, 1, 1)
# end  = datetime.datetime(2021, 11, 1)
# sap100_list = [s for s in sap100['Symbol'] ]
# sap100_adj_close = getStocks(sap100_list, start, end,debug=True)
# sap100_adj_close.head()

In [5]:
df = pd.read_csv('sap100_data_08112021.csv',index_col=0)
df.head()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMGN,AMT,AMZN,AVGO,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-04,128.997803,100.585396,107.449150,253.328720,485.339996,36.442303,223.416199,216.416885,3186.629883,418.644897,...,345.778137,200.139648,161.141953,45.091583,216.811539,56.299316,40.658897,29.300709,144.817017,39.621368
2021-01-05,130.592697,101.625504,108.778595,254.770905,485.690002,37.050823,224.500443,217.510788,3218.510010,421.480347,...,341.128174,202.594452,158.898941,45.238235,213.575684,56.041016,40.423191,30.119549,144.046143,41.530834
2021-01-06,126.196747,100.747612,108.552094,257.556427,466.309998,39.465260,229.911880,211.775146,3138.379883,418.881165,...,355.444122,206.833649,158.426727,47.917137,211.693924,56.720249,42.259716,32.250507,144.945511,42.590584
2021-01-07,130.502991,101.825890,109.605812,259.986450,477.739990,40.132664,230.670868,214.347321,3162.159912,436.533966,...,361.142761,209.712357,156.419815,48.875290,212.878738,56.592613,44.449795,32.980560,144.935623,42.924740
2021-01-08,131.629379,102.360252,109.911087,260.934753,485.100006,39.867664,235.076889,218.979187,3182.699951,438.749146,...,359.520264,215.726120,155.819717,48.220222,214.511597,55.886776,44.400692,32.743786,144.915848,43.402103

# Vyhodnocovanie akcii

In [6]:
rates = df/df.shift(1) -1
rates.head()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMGN,AMT,AMZN,AVGO,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-05,0.012364,0.010341,0.012373,0.005693,0.000721,0.016698,0.004853,0.005055,0.010004,0.006773,...,-0.013448,0.012265,-0.013919,0.003252,-0.014925,-0.004588,-0.005797,0.027946,-0.005323,0.048193
2021-01-06,-0.033662,-0.008638,-0.002082,0.010933,-0.039902,0.065166,0.024104,-0.026369,-0.024897,-0.006167,...,0.041966,0.020925,-0.002972,0.059218,-0.008811,0.012120,0.045432,0.070750,0.006244,0.025517
2021-01-07,0.034123,0.010703,0.009707,0.009435,0.024512,0.016911,0.003301,0.012146,0.007577,0.042143,...,0.016032,0.013918,-0.012668,0.019996,0.005597,-0.002250,0.051824,0.022637,-0.000068,0.007846
2021-01-08,0.008631,0.005248,0.002785,0.003648,0.015406,-0.006603,0.019101,0.021609,0.006496,0.005074,...,-0.004493,0.028676,-0.003836,-0.013403,0.007670,-0.012472,-0.001105,-0.007179,-0.000136,0.011121

In [7]:
r = rates.mean() * num_days
r.head()

AAPL    0.203901
ABBV    0.181040
ABT     0.243090
ACN     0.423631
ADBE    0.363656
dtype: float64

In [8]:
sigma = rates.std() * np.sqrt(num_days)
sigma.head()

AAPL    0.246992
ABBV    0.206792
ABT     0.214367
ACN     0.175865
ADBE    0.243361
dtype: float64

In [9]:
ratio = r/sigma
ratio.sort_values(ascending=False,inplace=True)
ratio.head(30).index

Index(['GOOG', 'SPG', 'GOOGL', 'MSFT', 'GD', 'ACN', 'COP', 'F', 'BAC', 'GS',
       'NVDA', 'AIG', 'MS', 'WFC', 'ORCL', 'XOM', 'TGT', 'LOW', 'EXC', 'COST',
       'AXP', 'BK', 'JPM', 'COF', 'CSCO', 'DHR', 'UNH', 'CVS', 'LLY', 'CVX'],
      dtype='object')